.env
__pycache__
/venv


venv/
__pycache__/
*.pyc
.coverage

#IDE files
.idea/

#Picture files
uploads/
*.jpg
*.jpeg
*.png
*.gif

# EXCEPT the static workout thumbnails we need for the app!
!static/workouts/*.jpg
!static/workouts/*.jpeg
!static/workouts/*.png
!static/workouts/*.gif